@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;700&display=swap');

.logo {
    width: 5rem;
    height: 5rem;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo-alt{
    width: 11rem;
    height: 3.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    border: none;
    box-shadow: 0px 0px 65px 50px rgba(255,255,255,1)
  }
@keyframes bouncy {
    0% {
        top: 0em;
    }
    40% {
        top: 0em;
    }
    43% {
        top: -0.9em;
    }
    46% {
        top: 0em;
    }
    48% {
        top: -0.4em;
    }
    50% {
        top: 0em;
    }
    100% {
        top: 0em;
    }
}
.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

.header-btn1 {
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 0.3em;
    float: right;
    font-weight: 600;
    padding: 6px 15px;
    background: #d62828;
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
}
.header-btn2 {
    background-color: transparent;
}

.header {
    height: 15%;
    display: flex;
    align-items:  center;
    justify-content: space-around;
}

@media (max-width: 650px) {
    .logo {
        width: 120px;
    }
    .header-btn1 {
        padding: 4px 10px;
    }
}
@media (max-width: 450px) {
    .logo {
        margin-top: 8px;
        width: 100px;
        height: 45px;
    }
    .header-btn1 {
        padding: 3px 8px;
        font-size: small;
        margin-top: 18px;
    }
}